Backend/SurveyCore/SurveyCore/SurveyCore/obj/
Backend/SurveyCore/SurveyCore/.vs/
Backend/SurveyCore/SurveyCore/SurveyCore/bin/
Backend/SurveyCore/SurveyCore/SurveyCoreTests/bin/
Backend/SurveyCore/SurveyCore/SurveyCoreTests/obj/
