.submission {
    text-align: center;
    max-width: 900px;
    height: 300px;
    margin: auto;
}

.submission h3 {
    color: #1434a0;
    font-size: 2.8em;
    width: 100%;
}

.checkmark_big {
    display: inline-block;
    width: 220px;
    height: 220px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width: 30px;
    height: 90px;
    background-color: #1434a0;
    left: 110px;
    top: 60px;
}

.checkmark_kick {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #1434a0;
    left: 81px;
    top: 120px;
}