extends layout

block content
  .main-content
    .total-number 0
    h1.dashboard-title 
      b HACK9 
      span Survey - 
      u rebrand.ly/hack9  
    .charts
      .ct-chart-container
        .section-title.section-title--green Survey completion overview
        .section-subtitle Total numbers of answers for each question 
        .ct-chart
    
    .section-title.section-title--brown Overall feel 
    .section-subtitle Participants, technologies and atmopshere 
        
    .questions-pies